.text-platzi {
    color: #97c93e !important;
}

#Header img {
    width: 80px;
}


#main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
}

#carousel {
    position: relative;
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
}

#carousel .overlay .container, 
#carousel .overlay .row {
    height: 100%;
}

.btn-overlay-b {
    background-color: #97c93e;
    color: white;
}

.btn-overlay-b:hover {
    background-color: #6a8c2d; 
    color: white;
}

#date img {
    max-width:100%;
}

#date {
    background-color: #343a40;
    color: white;
}

#footer {
    padding: 1em 0;
    background: #2b698a;
    text-align: center;
}

#footer a {
    color: white;
}


